@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(20, 119, 231, 0.808);
}
footer {
  padding: 1rem;
  background-color: rgba(220, 20, 60, 0.712);
}
.App {
  text-align: center;
}
.section-heading {
  padding: 1rem;
  cursor: pointer;
}
.section-heading:hover {
  background-color: rgba(18, 92, 177, 0.856);
}
